@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  /*Main Colors */
  --primary-color: #1e1e1e;
  --secondary-color: rgb(83, 139, 236);
  --secondary-highlight-color: rgba(68, 119, 206, 0.3);

  /*Shadows */
  --shadow-color: rgba(0, 0, 0, 0.8);          
  --shadow-light-color: rgba(0, 0, 0, 0.3);    
  --shadow-highlight-color: rgba(68, 119, 206, 0.5); 

  /*Printers */
  --printer-color: rgba(187, 92, 229, 1);      
  --printer-highlight-color: rgba(187, 92, 229, 0.4);

  /*Disable*/
  --disable-color: rgba(235, 87, 87, 1);       
  --disable-highlight-color: rgba(235, 87, 87, 0.4);

  /*Users */
  --user-color: rgba(79, 209, 197, 1);       
  --user-highlight-color: rgba(79, 209, 197, 0.4);

  /*Computers */
  --computer-color: rgba(82, 196, 26, 1);     
  --computer-highlight-color: rgba(82, 196, 26, 0.4);

  /*Groups */
  --group-color: rgba(250, 176, 5, 1);         
  --group-highlight-color: rgba(250, 176, 5, 0.4);

  /*Sharedrives */
  --sharedrive-color: rgba(255, 95, 31, 1);   
  --sharedrive-highlight-color: rgba(255, 95, 31, 0.4);

  /* Confirmation */
  --confirmation-remove-color: rgb(160, 39, 39);
  --confirmation-add-color: rgba(56, 171, 48, 1);

  /*Background */

  /*Text */
  --text-color: #e1e1e1;                       
  --search-bar-links-page: rgba(35, 35, 35, 0.8);
  --font-size: 15px;
  --font-size-title: 20px;
  --font-size-h1: 50px;
  --font-size-h2: 30px;
  --font-size-h3: 20px;
  --font-size-h4: 15px;
  --font-size-button: 12px;

  /*Layout*/
  --nav-padding: 90px;
}

:root.light-mode {
  --primary-color: white;
  --secondary-color: rgb(34, 66, 113);
  --shadow-color: rgba(0,0,0,0.3);
  --shadow-light-color: rgba(0,0,0,0.1);
  --shadow-highlight-color: rgba(79, 150, 255, 1);
  --printer-color: rgba(201, 11, 218, 1);
  --printer-highlight-color: rgba(201, 11, 218, 0.4);
  --disable-color: rgba(218, 11, 11, 1);
  --disable-highlight-color: rgba(218, 11, 11, 0.4);
  --user-color: rgb(11, 218, 218);
  --user-highlight-color: rgba(11, 218, 218, 0.4);
  --computer-color: rgba(11, 218, 66, 1);
  --computer-highlight-color: rgba(11, 218, 218, 0.4);
  --group-color: rgba(218, 152, 11, 1);
  --group-highlight-color: rgba(218, 152, 11, 0.4);
  --sharedrive-color: rgba(128, 11, 218, 1);
  --sharedrive-highlight-color: rgba(128, 11, 218, 0.4);
  --text-color: black;
  --search-bar-links-page: rgb(255, 255,255, 0.8);

}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: calc(100% - 110px);
  background: var(--primary-color);
  font-size: var(--font-size);
  color: var(--text-color);
  padding-left: var(--nav-padding);
  font-family: Roboto;
  padding-right: 0px;
  overflow: hidden;
}

button {
  font-family: Roboto;
  background: none;
  border: none;
  color: var(--text-color)
}