/*Main Page*/
body {
  background: #121212;
  color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

/*Users Table*/
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  background-color: #2e2d2d;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  text-wrap: wrap;
  overflow-wrap: anywhere;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table tbody tr:hover {
  background: rgba(0,0,0,0.5);
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    text-wrap: wrap;
    overflow-wrap: anywhere;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

body input {
  width: 300px;
  height: 40px;
  padding: 10px 10px 10px 10px;
  background: none;
  margin-top: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  color: white;
}

body input:focus {
  outline: none;
}

body table button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  background: none;
  color: white;
}

body table button:hover {
  background: rgba(255,255,255,0.5);
}

body table button:disabled {
  background: rgba(255,0,0,0.5);
}


body #page-info {

display: inline-block;
width: 150px;
text-align: center;
}

form {
padding: 0px;
margin: 0px;
text-align: left;
position: relative;
}

label {
position: absolute;
background: #2e2d2d;
left: 10px;
}


