
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Main Page */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: .05rem;
    color: var(--text-color);
    overflow: hidden;
}

/* Links*/
#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    row-gap: 30px;
    height: 90vh;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 20px;
    padding-top: 20px;
    overflow: scroll;
}

#links .link {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 325px;
    height: 125px;
    padding-top: 10rem;
    border-radius: 20px;
    align-items: center;
    width: 350px;
    height: 125px;
    padding-top: 10rem;
    border-radius: 20px;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 0px 10px 5px var(--shadow-color);
    color: var(--text-color);
    margin-top: 4rem;
    padding: 10rem 1rem 0rem 1rem;
}

#links a {
    transition: .5s ease;
}

#links a:visited {
    text-decoration: none;
    color: var(--text-color)
}

#links a:hover {
    box-shadow: 0px 0px 10px 2px var(--secondary-color);
}


#links a:focus div,
#links a:hover div {
    transform: translateY(-5px);
    box-shadow: 0px 5px 30px 10px var(--shadow-color);
}



.link div {
    position: absolute;
    display: flex;
    order: 0;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    background: #272727;
    top: -70px;
    width: 80%;
    height: 200px;
    box-shadow: 0px 0px 30px 10px var(--shadow-color);
    transition: ease .5s;
}

body .link img {
    width: 100%;   /* Scale the image to fit the width of the container */
    object-position: center;

    object-fit: fill;  /* Ensures the image covers the div area without distortion */
}

.link h1{
    order: 1;
    font-size: 25px;
    margin-top: -30px;
    text-align: center;
}

.link p {
    order: 2;
    font-size: 15px;
    margin-top: -5px;
    text-align: center;
}

/* Input */

#search-container {
    position:relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
    z-index: 1;
    padding: 10px;
    border-radius: 0px 0px 18px 18px;
}

#search-container input {
    padding: .7rem;
    width: 500px;
    background: none;
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
    border-radius: 10px;

}

#search-container input:focus {
    outline: none;
}


#search-container label {
    position: absolute;
    top: 5px;
    left: 20px;
    pointer-events: none; /* Makes sure the label doesn't interfere with input focus */
    font-size: 14px;
    padding: 1px;
    font-weight: bold;
    color: var(--secondary-color);
}

/*Copy button*/

#top-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

#top-container button {
    position: relative;
    overflow: hidden;
    border: none;
    background: var(--primary-color);
    box-shadow: 3px 3px 10px 1px var(--shadow-color), -3px -3px 10px 1px var(--shadow-color);
    color: var(--text-color);
    height: 50px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#top-container button:hover {
    box-shadow: inset 0px 0px 10px 3px var(--secondary-color);
}

#top-container button p {
    padding-top: 5px;
    margin: 0px;
}


#top-container button p {
    padding-top: 5px;
    margin: 0px;
}

