@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    gap: 20px;
    padding: 0px 30px;
    flex-wrap: wrap;
    height: auto;

}

.container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    gap: 20px;
    width: 80%;
    height: 50px;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
}

.container .header a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.container .information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    border-radius: 20px;
    height: fit-content;
    background: rgba(255,255,255,0.2);
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

 h1{
    flex-basis: 100%;
    text-align: center;
    padding: 0px;
}

.container .information div .label {
    font-weight: bold;
}

.all-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;
    gap: 40px;
}

.container .full-name {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 20px;
    font-size: 50px;
    flex-grow: 1;
    padding: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    height: fit-content;
    background: rgba(255,255,255,0.2);
}

#member-of{
    height: 300px;
    background: rgba(255,255,255,0.2);
    flex-basis: 100%;
    border-radius: 20px;
}

#share-drives {
    height: 300px;
    background: rgba(255,255,255,0.2);
    flex-basis: 100%;
    border-radius: 20px;
}

#bad-passwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: fit-content;
    background: rgba(255,255,255,0.2);
    flex-basis: 100%;
    border-radius: 20px;
    min-height: 400px;
}

#lockoutResults {
    position: relative;
}

#bad-passwords button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: rgba(255,255,255,0.2);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

