/*Main Page*/
body {
    background: #121212;
    color: white;
    font-family: "Open Sans", sans-serif;
     line-height: 1.25;
}

/*Users Table*/
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    background-color: #2e2d2d;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    text-wrap: wrap;
    overflow-wrap: anywhere;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  table tbody tr:hover {
    background: rgba(0,0,0,0.5);
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      text-wrap: wrap;
      overflow-wrap: anywhere;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  /* Loading */

.loading {
  display: none;
  position: relative;
  gap: 20px;
  justify-self: center;
  margin-top: 50px;
}

.loading .circle {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  animation: loading 2s infinite;
}

.loading #one {
  animation-delay: 0s;
  left: -40px;
}
.loading #two {
  animation-delay: .2s;
}
.loading #three {
  animation-delay: .4s;
  left: 40px;
}


@keyframes loading {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
    width: 25px;
    height: 8px;
    border-radius: 25px;
  }

}


