@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
    display: none;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    gap: 50px;
    padding: 0px 30px;
    flex-wrap: wrap;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    flex-basis: 100%;
    gap: 20px;
    width: 80%;
    height: 50px;
    top: 0px;
    z-index: 1;

    background: var(--secondary-color);
    border-radius: 20px;
}

.container .header a {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.container .information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    border-radius: 20px;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

 h1 {
    flex-basis: 100%;
    text-align: center;
    padding: 0px;
}

.container .information div .label {
    font-weight: bold;
}

.all-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;
    gap: 40px;
}

.container .full-name {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    gap: 20px;
    font-size: 50px;
    flex-grow: 1;
    padding: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    height: fit-content;
}

.container .full-name p,
.container .full-name p a {
  font-size: 15px;
  color: var(--disable-color);
}

.container .full-name p a:active {
  color: var(--disable-color);
}


#bad-passwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: fit-content;
    flex-basis: 100%;
    border-radius: 20px;
    min-height: 400px;
}

#lockoutResults {
    position: relative;
}

#bad-passwords button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px;
}

/* User information */

table {
    width: 90%;
    border-collapse: collapse;
  }

  table thead {
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
  }

  table tbody .label {
    font-weight: bold;
    width: fit-content;
    word-break: normal;

    text-align: left;
  }

  table tbody .info {
    word-break: break-all;
    width: 50%;
  }

  table tbody {
    font-size: 18px;
  }
  
  table td {
    padding: 8px;
  }
  
  table tr {
    width: 100%;
  }


 #member-of-results .group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  border-bottom: 1px solid var(--group-highlight-color);
  padding: 20px;
  box-sizing: border-box;
 }

 #member-of-results .group:hover button {
  width: 200px;
 }

 #member-of-results .group button{
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  padding: 10px;
  top: 0px;
  right: -10px;
  height: 100%;
  width: 0px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  background-color: green;
  transition: .2s ease-out;
 }

 #member-of-results .group:not(:hover) button {
  transition: none
}

 #member-of-results .group.queued {
  opacity: .5;
 }


 #share-drives .group {
  height: fit-content ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--sharedrive-highlight-color);
 }


 #member-of-results .group:hover {
  border-bottom: none;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px 4px var(--group-highlight-color);
  outline: 1px solid var(--group-color);
}

#share-drives .group:hover {
  border-bottom: none;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px 4px var(--sharedrive-highlight-color);
  outline: 1px solid var(--sharedrive-color);
}

#member-of {
  flex-basis: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#member-of h1{
  flex-basis: 100%;
}

 #member-of-results {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
 }

 #share-drives {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
 }

 #share-drives .group h1,
 #member-of-results .group h1 {
  font-size: 25px ;
  height: fit-content;
  text-align: cneter;
  margin: 0px;
  padding: 0px;
 }

 #share-drives .group span,
 #member-of-results .group span {
  font-size: 18px;
  font-weight: 400;
 }

 
 #member-of-results .group .label {
  margin-top: 20px;
  font-weight: 500;
  color: var(--group-color)
 }


 #member-of input {
  position: relative;
  padding: 10px;
  background: transparent;
  border: 1px solid var(--group-color);
  border-radius: 5px;
  height: 50px;
  width: 20%;
  color: white;
  margin-bottom: 10px;
 }


 #member-of input:focus {
  outline: none;
 }

#member-of-results .group.hide {
  display: none;
}

 #share-drives .group .label {
  margin-top: 20px;
  font-weight: 500;
  color: var(--sharedrive-color)
 }


 #lockout-results {
  width: 100%;
 }

 #lockout-results thead{
  text-align: center;
 }

 #lockout-results tbody{
  text-align: center;
 }

 #lockout-results td {
  border: 1px solid var(--text-color);
  width: 33%;
 }

