@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    gap: 50px;
    padding: 0px 30px;
    flex-wrap: wrap;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-basis: 100%;
    gap: 20px;
    width: 80%;
    height: 50px;
    top: 0px;
    z-index: 1;
    background: var(--text-color);
    border-radius: 20px;
}

.container .header a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.container .information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    border-radius: 20px;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

 h1 {
    flex-basis: 100%;
    text-align: center;
    padding: 0px;
}

.container .information div .label {
    font-weight: bold;
}

.all-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;
    gap: 40px;
}

.container .full-name {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 20px;
    font-size: 50px;
    flex-grow: 1;
    padding: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    height: fit-content;
}


#bad-passwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: fit-content;
    flex-basis: 100%;
    border-radius: 20px;
    min-height: 400px;
}

#lockoutResults {
    position: relative;
}

#bad-passwords button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px;
}

/* User information */

table {
    width: 90%;
    border-collapse: collapse;
  }

  table thead {
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
  }

  table tbody .label {
    font-weight: bold;
    width: fit-content;
    word-break: normal;

    text-align: left;
  }

  table tbody .info {
    word-break: break-all;
    width: 50%;
  }

  table tbody {
    font-size: 18px;
  }
  
  table td {
    padding: 8px;
  }
  
  table tr {
    width: 100%;
  }

  #share-drives .group,
 #member-of-results .group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  border-bottom: 1px solid var(--group-highlight-color);
  padding: 20px;
  transition: .3s ease
 }

 #share-drives .group {
  border-bottom: 1px solid var(--sharedrive-highlight-color);
 }


 #member-of-results .group:hover {
  transform: translateY(-5px);
  box-shadow: inset 0px 0px 10px 4px var(--group-highlight-color), 0px 10px 10px 8px rgba(0,0,0,0.3);;
  border: 1px solid var(--group-color);
}

#share-drives .group:hover {
  transform: translateY(-5px);
  box-shadow: inset 0px 0px 10px 4px var(--sharedrive-highlight-color), 0px 10px 10px 8px rgba(0,0,0,0.3);;
  border: 1px solid var(--sharedrive-color);
}

#member-of {
  flex-basis: 100%;
}

 #member-of-results {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  gap: 10px;
 }

 #share-drives {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
 }

 #share-drives .group h1,
 #member-of-results .group h1 {
  font-size: 25px ;
  height: fit-content;
  text-align: cneter;
  margin: 0px;
  padding: 0px;
 }

 #share-drives .group span,
 #member-of-results .group span {
  font-size: 18px;
  font-weight: 400;
 }

 
 #member-of-results .group .label {
  margin-top: 20px;
  font-weight: 500;
  color: var(--group-color)
 }

 #share-drives .group .label {
  margin-top: 20px;
  font-weight: 500;
  color: var(--sharedrive-color)
 }


 #lockout-results {
  width: 100%;
 }

 #lockout-results thead{
  text-align: center;
 }

 #lockout-results tbody{
  text-align: center;
 }

 #lockout-results td {
  border: 1px solid var(--text-color);
  width: 33%;
 }

